.Menu {
    display: inline-block;
    width: 55%;
}

ul {
    list-style: none;
    padding: 0;
}

.List {
    display: flex;
    border: 1px solid black;
    padding: 0 15px;
    margin: 5px 0;
}

.Img {
    display: inline-block;
    margin-right: 20px;
}

.ListInner {
    width: 70%;
}

.BtnAdd {
    flex-direction: row;
    justify-self: center;
}